<footer>

<div class="container footer-grid">

<div>
<h4>H<sub>2</sub>Green</h4>
<p>Advanced hydrogen technologies for clean energy.</p>
</div>

<div>
<h4>Technology</h4>
<a href="#">Hydrogen Fuel Cells</a>
<a href="#">Electrolysis</a>
<a href="#">Energy Storage</a>
</div>

<div>
<h4>Company</h4>
<a href="about.html">About</a>
<a href="#">Careers</a>
<a href="#">News</a>
</div>

<div>
<h4>Contact</h4>

<p>
460 A/5/1, M.S. Road<br>
Gandhi Nagar, Parvathipuram<br>
Vetturanimadam Post<br>
Nagercoil - 629003
</p>

<a href="mailto:blueberryindustries@gmail.com">
blueberryindustries@gmail.com
</a>

</div>

</div>

<div class="footer-bottom">
© 2026 H<sub>2</sub>Green Technologies
</div>

</footer>
