<nav>

<div class="container nav-inner">

<div class="logo">
<img src="logo.png">
<span>H<sub>2</sub>Green Technologies</span>
</div>

<div class="hamburger" onclick="toggleMenu()">☰</div>

<div class="menu" id="menu">

<a href="index.html">Home</a>

<div class="dropdown">
<a href="#" onclick="toggleDropdown(event)">Products</a>

<div class="dropdown-menu">

<div class="dropdown-container">

<div class="dropdown-column">
<h4>Solar Group</h4>

<a href="#">Solar Panels</a>
<a href="#">Solar Inverters</a>

<div class="sub-items">
<a href="#">String Inverters</a>
<a href="#">Optimizer Inverters</a>
<a href="#">Micro Inverters</a>
</div>

</div>

<div class="dropdown-column">
<h4>Hydrogen Group</h4>

<a href="#">Fuel Cell Stacks</a>
<a href="#">Fuel Cell Components</a>
<a href="#">PEM Electrolyzer</a>

</div>

</div>

</div>

</div>

<div class="dropdown">

<a href="#" onclick="toggleDropdown(event)">Applications</a>

<div class="dropdown-menu">

<div class="dropdown-container">

<div class="dropdown-column">

<h4>Applications</h4>

<a href="#">H2 Lab</a>
<a href="#">H2 Power</a>
<a href="#">H2 Transport</a>

<div class="sub-items">

<a href="#">Car</a>
<a href="#">Train</a>
<a href="#">Wind Turbine</a>
<a href="#">Street Light</a>

</div>

</div>

<div class="dropdown-column">

<h4>&nbsp;</h4>

<a href="#">H2 Bike</a>
<a href="#">H2 Drone</a>

</div>

</div>

</div>

</div>

<a href="about.html">About Us</a>
<a href="contact.html">Contact</a>

</div>

</div>

</nav>
